.de-explorer-root {
    display: grid;
    height: 100%;
    grid-template:
        'header header' auto
        'description description' auto
        'source syntax-tree' 1fr;
}

textarea {
    font-family: 'monospace';
}

h1 {
    grid-area: header;
}

.de-explorer-description {
    grid-area: description;
}

.de-explorer-source {
    grid-area: source;
}

.de-explorer-tree {
    grid-area: syntax-tree;
}

@media screen and (max-width: 600px) {
    .de-explorer-root {
        grid-template:
            'header' auto
            'description' auto
            'source' minmax(300px, 1fr)
            'syntax-tree' auto;
    }

    .de-explorer-source {
        margin-bottom: 1rem;
    }
}