@page "/explorer"
@using Breezy.Dcm.Shinofa.Parsing
@using System.Text.Json

<PageTitle>[dcm] SASS AST Explorer</PageTitle>

<div class="de-explorer-root">
    <h1>SASS AST Explorer</h1>

    <section class="de-explorer-description">
        <p>
            Note: dcm is not intended to have a fully compliant SASS implementation and so it might parse otherwise incorrect code;
            also syntax element names might differ from officialy accepted ones.
        </p>
        
        <p>
            Inspired by <a href="https://astexplorer.net/" target="_blank">AST Explorer</a>.
        </p>
    </section>

    <textarea class="de-explorer-source" @bind="@Code" @bind:event="oninput"></textarea>

    <ul class="de-explorer-tree">
        @foreach (var node in Output)
        {
            <AstNode Node="@node" />
        }
    </ul>
</div>

@code {
    private List<AstNodeDescription> Output = new();

    private string FCode = ".my-class {\n    width: 100px;\n}";
    private string Code
    {
        get => FCode;
        set
        {
            FCode = value;
            Update();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Update();
    }

    private void Update()
    {
        try
        {
            var els = Parser.Parse(FCode);
            Output = els.Select(AstNodeDescription.FromSyntaxElement).ToList();
            Console.WriteLine(JsonSerializer.Serialize(Output));
        }
        catch (Exception e)
        {
            Output = new List<AstNodeDescription>
            {
                new()
                {
                    Name = "Error",
                    Properties = new Dictionary<string, object>
                    {
                        { "Message", e.Message }
                    }
                }
            };
        }
    }
}