﻿@page "/"

<PageTitle>[dcm]</PageTitle>

<h1>dcm</h1>

<p>
    dcm is a highly experimental build tool for <a href="https://www.sencha.com/products/extjs/" target="_blank">Sencha Ext JS</a>
    that aims to provide a flexible and extensible build process.
</p>

<p>
    dcm is mostly a research project and is not intended to replace any existing tooling in production.
</p>

<p>
    Currently, dcm is able to understand most of the Ext JS project structure and JS code, while SASS implementation
    is being in progress (you can experiment with SASS parser on the <a href="/explorer">SASS AST Explorer</a> page).
</p>

<p>
    Links: <a href="https://gitlab.com/icefairy64/dcm" target="_blank">GitLab</a>
</p>
