@using System.Globalization

<li class="de-ast-node">
    <span class="@ExpandIconClass"></span>
    
    @if (Key is not null)
    {
        <span class="de-ast-node-key" @onclick="@ToggleExpandState">@Key:</span>
    }
    
    <span class="de-ast-node-name" @onclick="@ToggleExpandState">@(Node.Name)</span>
    
    @if (Expanded)
    {
        @foreach (var (key, val) in Properties)
        {
            @if (val is AstNodeDescription nodeVal)
            {
                <AstNode Key="@key" Node="@nodeVal"/>
            }
            else
            {
                <li class="de-ast-node-prop">
                    <span class="de-ast-node-key">@key:</span>
                    <span class="de-ast-node-value">@(RenderLiteral(val))</span>
                </li>
            }
        }

        @if (Node.Children is not null)
        {
            @foreach (var child in Node.Children)
            {
                <AstNode Node="@child"/>
            }
        }
    }
</li>

@code {
    [Parameter]
    public AstNodeDescription Node { get; set; }
    
    [Parameter]
    public string? Key { get; set; }

    private bool Expanded { get; set; } = false;

    private bool Expandable => (Node.Properties?.Count ?? 0) > 0 || (Node.Children?.Count ?? 0) > 0;

    private string ExpandIconClass => "oi oi-" + (Expanded ? "minus" : "plus");

    private IReadOnlyList<(string, object)> Properties
    {
        get
        {
            var list = new List<(string, object)>();

            if (Node.Properties is not null)
                list.AddRange(Node.Properties.Select(kv => (kv.Key, kv.Value)));

            return list;   
        }
    }

    private string RenderLiteral(object value)
    {
        return value switch
        {
            string s => s,
            decimal d => d.ToString(CultureInfo.InvariantCulture),
            bool b => b.ToString(),
            _ => value.ToString() ?? "null"
        };
    }

    private void ToggleExpandState()
    {
        Expanded = !Expanded;
    }
}