.de-ast-node {
    list-style-type: none;
    font-family: 'monospace';
}

.de-ast-node .oi {
    margin-right: 0.5rem;
}

.de-ast-node > li {
    margin-left: 2rem;
}

.de-ast-node > .de-ast-node-name {
    cursor: pointer;
}

.de-ast-node > .de-ast-node-key {
    margin-right: 1rem;
    cursor: pointer;
}

.de-ast-node > .de-ast-node-prop {
    margin-left: 3.5rem;
}

.de-ast-node-name {
    font-weight: 600;
    margin-right: 0.5rem;
}