﻿@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/">Home</a>
            <a href="/explorer">SASS AST Explorer</a>
            <span class="de-filler"></span>
            <a href="https://gitlab.com/icefairy64/dcm" target="_blank">GitLab</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
        <footer>
            <span>
                Powered by <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a>
                and <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor WebAssembly</a>.
                
                SASS AST Explorer is inspired by <a href="https://astexplorer.net/" target="_blank">AST Explorer</a>.
            </span>
        </footer>
    </main>
</div>
